{% extends 'base.html.twig' %}

{% block body %}
    <h1>time_registration list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time_registration in time_registrations %}
            <tr>
                <td><a href="{{ path('time_registration_show', { 'id': time_registration.id }) }}">{{ time_registration.id }}</a></td>
                <td>{{ time_registration.userId }}</td>
                <td>{% if time_registration.startTime %}{{ time_registration.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if time_registration.endTime %}{{ time_registration.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('time_registration_show', { 'id': time_registration.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('time_registration_edit', { 'id': time_registration.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('time_registration_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
